@media (max-width: 320px) {
  body {
    background-color: white;
  }

  header {
    padding: 10px;
  }

  header a {
    margin-right: 5px;
  }

  .header__logo {
    height: 20px;
  }

  .about {
    flex-direction: column-reverse;
    padding-right: 10px;
    padding-left: 10px;
  }

  .about h1 {
    font-size: 36px;
    line-height: 40px;
  }
  
  .about p {
    font-size: 18px;
    line-height: 30px;
    opacity: 0.8;
  }

  .about__info {
    max-width: 320px;
  }
  
  .about__image {
    width: 280px;
  }

  .about__sun-image {
    width: 75px;
    height: 75px;
  }

  .form {
    padding-right: 10px;
    padding-left: 10px;
  }

  .footer__container {
    flex-direction: column;
  }

  .features {
    background-color: #fff;
    padding: 50px 10px;
  }

  .cards {
    grid-template-columns: auto;
    justify-content: center;
  }

  .features__feedback {
    flex-direction: column;
  }

  .features__feedback-left {
    margin-right: none;
  }

  .features__feedback-left h2{
    font-size: 36px;
  }

  .features__feedback-right {
    flex-direction: column;
    align-items: stretch;
  }

  .features__box h3 {
    font-size: 36px;
    
  }

  .features__savings-box {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .promo {
    flex-direction: column-reverse;
  }

  .promo__image {
    height: 340px;
    width: 100%;
  }

  .promo__right {
    padding: 50px 10px;
  }

}

