@media (max-width: 720px) {
  body {
    background-color: white;
  }

  header a {
    margin-right: 5px;
  }

  .about h1 {
    font-size: 36px;
    line-height: 40px;
  }
  
  .about__image {
    width: 280px;
  }

  .about__sun-image {
    width: 75px;
    height: 75px;
  }

  .features__feedback {
    flex-direction: column;
  }

  .cards {
    gap: 10px;
  }

  .features {
    background-color: #fff;
    padding: 50px 30px;
  }
}